body {
    background-color: #444444;
    color: #ffffff;
    text-align: center;
}

li {
    list-style-type: none;
}

img {
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}

.file img {
    width: 20%;
    float: left;
    margin-left: 10%;
    transform: translate(-10%);
}

.file::after {
    content: "";
    display: block;
}


a {
    color: #e96262;
}

header {
    margin-top: 20px;
    position: sticky;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.footer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}